input[type=text] {
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=text]:focus {
    border: 1px solid #431cff;
}
input[type=number]:focus {
    border: 1px solid #431cff;
}
input[type=date]:focus {
    border: 1px solid #431cff;
}
input[type=file]:focus {
    border: 1px solid #431cff;
}
textarea:focus {
    border: 1px solid #431cff;
}
select:focus {
    border: 1px solid #431cff;
}

